main, footer {
    min-width: 1500px;
}

/* Style of site's main part */
main {
    height: 844px;
    background: #ffffff;
    padding-top: 105px;
    margin-left: 5px;
}

#content {
    font-family: 'Exo 2', sans-serif;
    color: #585858;
}

#content h1 {
    font-size: 56px;
    text-align: center;
    margin: auto;
}

#content p {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
}

/* Style of site's footer */
footer {
    height: 100px;
    background: rgb(94, 191, 173);
}